[book]
authors = ["khl <1365342449@qq.com>"]
language = "en"
multilingual = false
src = "src"
title = "kuanghl"

[build]
build-dir = "docs"
create-missing = true
use-default-preprocessors = false

[preprocessor.toc]
command = "mdbook-toc"
renderer = ["html"]

[preprocessor.katex]
after = ["links"]

[preprocessor.admonish]
command = "mdbook-admonish"

[preprocessor.mermaid]
command = "mdbook-mermaid"

[output.html]
mathjax-support = true
curly-quotes = true
default-theme = "coal"
preferred-dark-theme = "coal"
git-repository-url = "https://github.com/kuanghl/mdbook-demo"
additional-css = ["css/mdbook-admonish.css",
                "assets/catppuccin/catppuccin.css", "assets/catppuccin/catppuccin-admonish.css"]
additional-js = ["js/helper.js", "js/support.js", 
                "theme/theme-monokai.js",
                "js/mermaid.min.js", "js/mermaid-init.js"]

[output.html.search]
limit-results = 20
use-boolean-and = true
boost-title = 2
boost-hierarchy = 2
boost-paragraph = 1
expand = true
heading-split-level = 2

[output.html.fold]
enable = true # false
level = 0 # 1

[output.html.playground]
editable = true

[output.html.print]
enable = true


